@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Rajdhani", sans-serif;
}
button {
  margin: 2rem;
  padding: 1rem 2rem;
  border-radius: 15px;
  border: none;
}
h1 {
  margin: 2rem auto;
}
.App {
  text-align: center;
}

.Container {
  color: white;
  text-align: center;
  padding: 10%;
  background: rgb(204, 86, 30);
  background: linear-gradient(
    0deg,
    rgba(204, 86, 30, 1) 54%,
    rgba(170, 43, 29, 1) 100%
  );
  min-height: 100vh;
}
